@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto+Serif:opsz,wght@8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&family=Roboto+Slab:wght@700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* roboto */
/* 
font-family: 'Gothic A1', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Serif', serif;
font-family: 'Roboto Slab', serif;
*/
/* notosans kr */
/* font-family: 'Noto Sans KR', sans-serif; */

/* 공통 */
.no-scroll{overflow: hidden;}
body{overflow-x: hidden;}

a,a:visited{
    color: #0049D8;
    text-decoration: none;
}

/* 스크롤 아이콘 */
.scroll-type3 {
    position: absolute;
    left: 50%; bottom: 30px;
    opacity: 0;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;
    animation: iconmove 2s ease-in infinite;
    transition: opacity 1s linear 2.5s;
  }
.title.on>.scroll-type3{
    opacity: 1;
}

@keyframes iconmove {
    50%{bottom: 60px;}
    100%{bottom: 30px;}
}

  .scroll-type3::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed #fff;
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px dashed #fff;
    animation: rotation 15s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .scroll-type3 .scroll-icon {
    width: 16px;
    height: 32px;
    border-radius: 40px;
    border: 2px solid #fff;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .scroll-type3 .scroll-icon::before {
    display: block;
    content: "scroll";
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: -38px;
    left: -10px;
  }
  .scroll-type3 .scroll-icon::after {
    display: block;
    content: "";
    width: 2px;
    height: 10px;
    background: #fff;
    margin: auto;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
  }
  .scroll-type3:hover {
    background: #F5C000;
  }
/* 로딩페이지 */
.load{
    z-index: 10000;
    position:fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: #2165F5;
    transition: height 0.3s ease 0.3s;
}
.load.totop{
    background: #FFF280;
    height: 0;
}

@keyframes totop {
    0%{top: 0;}
    100%{top: 100%;}
}

.bulb{
    z-index: 1;
    position: relative;
    font-size: 400px;
    transform: translateY(50%);
    color: #f9f9f9;
    transition: transform 0.7s ease-in 4s;
    filter: drop-shadow(10px 10px 0px rgba(0,0,0,0.2));
}
.sparkle.L{
    opacity: 0;
    position: absolute; 
    left: 33%;
    top: 33%;
    transform: rotate(90deg);
}
.sparkle.R{
    opacity: 0;
    position: absolute; 
    left: 56%;
    top: 33%;
    transform: rotate(-90deg);
}
.sparkle.colorChange{
    opacity: 1;
    animation: blink 2s linear 1s;
}

.loadline{
    position: absolute;
    left: 50%; top:72%;
    transform: translateX(-50%);
    transform-origin: -100%, 0;
    width: 300px; height: 26px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #f9f9f9;
    overflow: hidden;
}

.line{
    position: absolute;
    left: 0;top: 50%;
    transform: translateY(-50%);
    background: #f9f9f9;
    border-radius: 10px;
    width: 96.5%; height: 10px;
    margin: 0 5px;
    animation: loadline 4s linear;
}

.loadtext{
    position: absolute;
    top: 76%; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    color: #f9f9f9;
    font-family: 'Roboto Slab', serif;

}
.line.colorChange{background: #FFF280;}
.colorChange{color: #FFF280;}
.loadline.colorChange{border: 3px solid #FFF280;}
@keyframes loadline {
    0%{width: 0;}
    100%{width: 97%;}
}

@keyframes blink {
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

.bulb.colorChange{transform: scale(100);}
.yellow.colorChange{filter: none;}

/* 각섹션 */

.page{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #2165F5;
}
.project{
    position: relative; top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 200px;
}
.page>h2{
    position: relative;
    text-align: right;
    display: block; width: 100%;
    font-size: 70px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
    color: #fff;
    padding-right: 200px;
}


.page>.boxes{
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-top: 100px;
}
.project>.boxes>.leftbox{
    position: relative; top: 10%; left: 0;
    background: #FFF280;
    width: 35%;
    height: 65%;
}
/* .project.on>.boxes>.leftbox{
    left: 0;
} */
.project.on>.boxes>.background{
    position: absolute;
    top: -50px; left: -100px;
    width: 700px;
    height: 400px;
    background: #FFF280;
}


.page>.boxes>.leftbox>.button{
    z-index: 1000;
    width: 65%;
    position: absolute;
   bottom: -500px; left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.page>.boxes>.leftbox>.button>span{
    flex: content;
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    padding: 15px 20px;
    background: #FFF280;
    color: #0049D8;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.25);
}
.page>.boxes>.leftbox>.button>span:nth-of-type(1){margin-right: 20px;}

/* katalk */
#page5>.boxes>.leftbox{
    position: absolute;
    top: -50px;
    left: -100px;
    width: 700px;
    height: 400px;
}
#page5>.boxes>.button{
    position: absolute;
   top: 425px; left: 450px;
    display: inline-block;
    transform: translateX(-50%);
    border: 1px solid #000;
}
#page5>.boxes>.button>span{
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    padding: 15px 20px;
    background: #FFF280;
    color: #0049D8;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.25);
}

/* netflix button */
#page6>.boxes>.leftbox>.button{
    width: 36%;
    position: absolute;
   bottom: -500px; left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.page>.boxes>.leftbox>.button>span{
    flex: content;
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    padding: 15px 20px;
    background: #FFF280;
    color: #0049D8;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.25);
}

.rightbox{
    z-index: 1;
    color: #fff;
    position: absolute;
    top: -15%; right: 0;
    width: 45%;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Gothic A1', sans-serif;
}
.rightbox>dl>div{
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}
.rightbox>dl>div>dt{
    font-size: 24px;
    filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.3));
}
.rightbox>dl>div>dd{
    font-size: 18px;
    font-weight: 100;
    filter: drop-shadow(1.5px 1.5px 0px rgba(0,0,0,0.15));
    letter-spacing: 1px;
}

/* katalk */
#page5 .rightbox{
    z-index: 1;
    color: #fff;
    position: absolute;
    top: 300px; right: 200px;
    width: 35%;
    font-family: 'Noto Sans KR', sans-serif;
}
#page5 .rightbox>dl>div{
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}
#page5 .rightbox>dl>div>dt{
    font-size: 24px;
    filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.3));
}
.rightbox>dl>div>dd{
    font-size: 18px;
    font-weight: 100;
    filter: drop-shadow(1.5px 1.5px 0px rgba(0,0,0,0.15));
    letter-spacing: 1px;
}


.desktop{
    position: absolute; 
    display: inline-block;
    z-index: 3; 
    left: 50%; transform: translateX(-50%) scale(1.2); 
    top: 100px;
}
.desktop>img{
    width: 500px;
    filter: drop-shadow(-20px -20px 4px rgba(0,0,0,0.25));
}
.desktop>.inner{
    position: absolute; top: 3%;
    left: 50.4%; transform: translateX(-50%);
    background: #fff;
    width: 79.5%; height: 248.5px;
    overflow: hidden;}
.desktop>.inner>img{
    width: 100%;
    animation: cjdesk 15s linear infinite;
}

/* netflix */
#page6 .desktop{
    position: absolute; 
    left: 10px; top: 60px;
    display: inline-block;
    z-index: 3; 
    transform: scale(1.85); 
}
.desktop>img{
    width: 500px;
    filter: drop-shadow(-20px -20px 4px rgba(0,0,0,0.25));
}
.desktop>.inner{
    position: absolute; top: 3.1%;
    left: 50.4%; transform: translateX(-50%);
    background: #000;
    width: 79.5%; height: 250px;
    overflow: hidden;}
.desktop>.inner>video{
    width: 100%; height: 100%;
    object-fit: avo;
}


@keyframes cjdesk {
    0%{transform: translateY(0);}
    5%{transform: translateY(0);}
    50%{transform: translateY(-65%);}
    55%{transform: translateY(-65%);}
    100%{transform: translateY(0);}
}

.tablet{
    position: absolute; z-index: 1;
    left: -15%; top: -200px;
    transform: scale(1.2);
}
.tablet>img{
    position: relative;
    width: 250px;
    transform: rotate(90deg);
    filter: drop-shadow(20px -20px 4px rgba(0,0,0,0.25));
}
.tablet>.inner{
    z-index: 1;
    position: absolute; 
    left: -14.5%; top: 17.5%; 
    width: 320px; height: 224px;
    border-radius: 7px; 
    overflow: hidden;}
.tablet>.inner>img{
    z-index: 1;
    transform: rotate(0deg);
    display: block;
    width: 100%;
    animation: cjtablet 20s linear infinite;
}
@keyframes cjtablet {
    0%{transform: translateY(0);}
    50%{transform: translateY(-80%);}
    100%{transform: translateY(0);}
}

@keyframes cjmobile {
    0%{transform: translateY(0);}
    50%{transform: translateY(-65%);}
    100%{transform: translateY(0);}
}


.mobile{
    position: absolute; 
    z-index: 4; 
    top: -10px; right: -20%;
    transform: scale(1.3);
}
.mobile>img{
    width: 150px;
    filter: drop-shadow(-40px -20px 4px rgba(0,0,0,0.25));
}
.mobile>.inner{
    position: absolute;
    box-sizing: border-box;
    top: 2%; left: 50%;
    transform: translateX(-50%);
    background: #fdf;
    width: 89.5%; height: 292px;
    border-radius: 20px;
    overflow: hidden;}
.mobile>.inner>img{
    position: absolute;
    width: 100%;
    border-radius: 18px;
    animation: cjmobile 15s linear infinite;
}

/* katalk */
#page5 .mobile{
    position: relative; 
    z-index: 4; 
    top: 20px; left: 50px;
    transform: scale(1.8);
    /* transition: all 1000ms cubic-bezier(0.000, 0.895, 0.595, 1.650); */
}
/* #page5.on .mobile{transform: scale(1.8);} */
#page5 .mobile>img{
    width: 150px;
    filter: drop-shadow(20px 5px 4px rgba(0,0,0,0.3));
}
#page5 .mobile>.inner{
    position: absolute;
    box-sizing: border-box;
    top: 2%; left: 50%;
    transform: translateX(-50%);
    background: #fdf;
    width: 89.5%; height: 292px;
    border-radius: 20px;
    overflow: hidden;}
#page5 .mobile>.inner>video{
    position: absolute;
    width: 100%; height: 100%;
    left: 50%; top: 0;
    transform: translateX(-50%);
    object-fit: avo;
    border-radius: 18px;
}

/* netflix */
#page6 .mobile{
    position: absolute; 
    z-index: 4; 
    top: 50px; right: -25%;
    transform: scale(1.5);
}
.mobile>img{
    width: 150px;
    filter: drop-shadow(-40px -20px 4px rgba(0,0,0,0.25));
}
.mobile>.inner{
    position: absolute;
    box-sizing: border-box;
    top: 2%; left: 50%;
    transform: translateX(-50%);
    background: #fdf;
    width: 89.5%; height: 292px;
    border-radius: 20px;
    overflow: hidden;}
.mobile>.inner>img{
    position: absolute;
    width: 100%;
    border-radius: 18px;
    animation: cjmobile 15s linear infinite;
}

/* title */
.title{
    position: relative;
    top: 0; left: 0;
    width: 100%;
    color: #fff; 
    box-sizing: border-box;
}
.title>#text{opacity: 1;}
.title>h1{
    display: inline-block;
    position: absolute;
    top: 200px; left: 250px;
    text-align: center;
    filter: drop-shadow(13px 13px 0 rgba(0,0,0,0.2));
    overflow: hidden;
    font-size: 13rem;
    font-family: 'Shrikhand', cursive;
    padding: 0 20px;
    color: #0049d8;
    letter-spacing: 2px;
}
.developer{
    z-index: 1;
    position: absolute;
    top: 450px; left: 40%;
    display: block;
    text-align: center;
    font-size: 8rem;
    font-family: 'Shrikhand', cursive;
    color: #FFF280;
    margin-top: -2rem;
    text-shadow: 10px 10px 0px rgba(0,0,0,0.2);
}
.title>h2{
    width: 100%;
    position: absolute;
    bottom: 150px; left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-align: center;
    font-family: 'Kalam', cursive;
    text-shadow: -2px 0px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    letter-spacing: 2px;
    opacity: 1;
}



/* projectnav */
.projects{
    position: relative; top: 0;
}
.project:nth-of-type(1){height: calc(100vh - 70px);}
.sticky{
    z-index: 1000;
    position: fixed; top: 15px;
    overflow: hidden;
    margin-left: 15px;
    display: none;
    padding: 0 10px;
}
.sticky.on{display: block;}
div>.navbox{
    position: relative;
    width: 600px;
    display: flex;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    gap: 15px;
}
div>.navbox>li{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.20));
}
div>.navbox>li.on>span{background: #FFF280;}
div>.navbox>li.on>img{opacity: 1;}
div>.navbox>li>span{
    display: inline-block;
    background: #fff;
    border-radius: 60px;
    color: #0049d8;
    margin-bottom: 7px;
    padding: 10px 0px;
    letter-spacing: -1px;
    line-height: 23px;
}
div>.navbox>li>img{
    opacity: 0;
    width: 50%; margin: 0 auto;
}
/* contact */
.contact{
    position: relative;
    bottom: 0;
}
.contact>h2{       
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 16rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    text-shadow: 15px 15px 0px rgba(0,0,0,0.25);
    padding-bottom: 100px;
    padding-top: 100px;}
.contact>.contact_box{
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    width: 600px; height: 300px;
    background: #fff;
    box-shadow: 40px 40px 0px rgba(0,0,0,0.25);
    opacity: 1;
}
.box_inner{
    position: absolute;
    left: 50%; transform: translateX(-50%) translateY(-50%);
    top: 50%;
    width: 95%; height: 90%;
    background: #fff;
    border: 2px solid #0049D8;
}

.box_inner>p{
    font-size: 2rem;
    color: #1D4672;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    font-weight: bold;
}
.tel{margin-top: 70px;}

/* 어바웃 */
.about{
    position: relative;
    width: 100%; height: 100vh;
    padding: 50px 200px;
    box-sizing: border-box;}
.about>.me{
    position: relative;
    left: 0; top: 0;
    opacity: 1;
    color: #fff; 
    font-size: 4rem;
    font-family: 'Roboto Serif', serif;
    filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.2));
}
.name{text-align: left;}

.about>.about_totalbox{
    box-sizing: border-box;
    margin-top: 10px;
    border-top: 2px solid #fff;
    filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.1));
    position: relative;
    width: 100%; height: 700px;}
.about>.about_totalbox>.leftbox{
    position: relative;
    left: 0; top: 50px;
    opacity: 1;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 50px;
    display: inline-block;
    width: 45%; height: 80%;
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
    line-height: 50px;
    margin-right: 100px;
    transition: all 1s cubic-bezier(0.000, 1.035, 0.470, 1.485) 0.3s;
}

.about>.about_totalbox>.leftbox>div{
    width: 100%;
    font-size: 36px;
    filter: drop-shadow(5px 2px 0px rgba(0,0,0,0.1));    
}
.about>.about_totalbox>.leftbox>div:nth-child(1){padding-bottom: 15px;}
.about>.about_totalbox>.leftbox span{
    display: block;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    filter: none;
    line-height: 28px;
    padding-bottom: 15px;
}
.about>.about_totalbox>.leftbox>.skill{
    border: none;
    text-align: right;}
.about>.about_totalbox>.leftbox>.skill>span{
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    display: inline-block;    
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    padding-top: 0;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    font-weight: normal;}
.about>.about_totalbox>.leftbox>span{
    display: block;
    font-weight: normal;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    font-weight: normal;
}
.about>.about_totalbox>.leftbox>.skill .underline{
    display: block;
    width: 100%; height: 1px;
    background: #fff;
}
.about>.about_totalbox>.leftbox>.github{
                position: absolute;
                top: 13px; left: 550px;
                font-size: 20px;
                line-height: 28px;
                padding: 0px 12px;
                border: 10px solid #2165F5;
                border-style: double;
                font-weight: 600;
                display: inline-block;
                background: #FFF280;
                color: #0049D8;
                border-radius: 70px;
                margin-bottom: 30px;
                /* filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.2)); */
}
.about>.about_totalbox>.leftbox>.github:hover{ 
    top: 15px; left: 552px;
    background: #fff; }
.about>.about_totalbox>.leftbox>.github:hover>a{color: #0049d8;}
.about>.about_totalbox>.leftbox>.name{text-align: right;}
.about>.about_totalbox>.leftbox>div.name{border-top: 1px solid #fff;}
.about>.about_totalbox>.leftbox>.no{border: none; padding-bottom: 0;}
.about>.about_totalbox>.rightbox{
    position: absolute;
    top: 70px; right: 200px;
    opacity: 1;
    width: 25%;
    display: inline-block;
    transition: all 1s cubic-bezier(0.000, 1.035, 0.470, 1.485) 0.7s;
}

.about>.about_totalbox>.rightbox>.imgbox{
    position:   absolute;
    filter: drop-shadow(30px 30px 0px rgba(0,0,0,0.2));
    width: 100%; height: 80%;}
.about>.about_totalbox>.rightbox>.imgbox>img{
    position: absolute;
    width: 100%;
    box-shadow: 20px 20px 0px #FFF280;
}

/* 마우스 */
body, body * {
    cursor: none;
  }
  
  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #000;
    color: #000;
    overflow: hidden;
}

.shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
    opacity: 1;

  }
  .shape.shape-1 {
    background: #f2ff02;
    opacity: 0.3;
    width: 800px;
    height: 800px;
    margin: -400px;
    filter: brightness(10);
  }
  .shape.shape-2 {
    background: #00eaff;
    opacity: 0.7;
    width: 500px;
    height: 500px;
    margin: -250px;
  }
  .shape.shape-3 {
    background: #ff80b5;
    width: 300px;
    height: 300px;
    margin: -150px;
  }
  
  .content {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #2165F5;
    mix-blend-mode: screen;
  }
  .title.content>h1{
    color: #fff;
  }
  
  h1 {
    font-size: 100px;
    color: #fff;
    margin: 0;
    text-align: center;
  }
  .content>span{
    padding-top: 30px;
    text-indent: -50px;
    color: #fff280;}
  @media (min-width: 419px) {
    h1 {
      font-size: 100px;
      font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
    }
  }
  @media (min-width: 1430px) {
    h1 {
      font-size: 200px;
    }
  }
  
  .cursor {
    position: fixed;
    border: 3px dashed #fff280;
    width: 30px;
    height: 30px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    pointer-events: none;
    z-index: 10000 !important;
  }
  .cursor::target-text{border-color: #0049D8; opacity: 0.5;}
  
  .cursor::selection {
    color: #fff;
    background: #000;
  }


  /* 메인모션 */
 .title.on>#text{
    opacity: 1;
    animation-name: bounce;
    animation-duration:1s;
  }
  
  @keyframes bounce {
    0%{
      transform: scale(0.1);
      opacity:0;
    }
    60%{
      transform:scale(1.3);
      opacity:1;
    }
    100%{
      transform:scale(1)
    }
  }

  .title.on>h2{
    position: absolute;
    bottom: 150px; left: 50%;
    animation: bottom 1s ease 0.5s;
    opacity: 1;
    transition: opacity 1s linear 1s;
  }

  @keyframes bottom {
    0%{bottom: 0; opacity: 0;}
    100%{bottom: 150px; opacity: 1;}
  }

  /* 프로젝트 */

.project>h2{
    position: relative;
    top: 0px;
    opacity: 1;
    padding-top: 70px;
    display: inline-block;
    font-style: italic;
    filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.2));
    transition: all 500ms cubic-bezier(0.000, 0.895, 0.595, 1.650);
}
.project>h2>span{
    margin-left: 20px;
    font-size: 140px;
    font-style: normal;
    color: #fff280;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    filter: drop-shadow(8px 4px 0px rgba(0,0,0,0.25));
  }
  .project.on>h2{
    top: 0;
    opacity: 1;
  }

html,body{width: 100%;height: 100%;}

/* detailveiw */
.detailpage{
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%; height: 100vh;
    background: #2165F5;}
.detailpage>.container{
    position: relative;
    border: 1px solid #000;
    width: 100%;
    height: 100vh;
    padding: 2%;
    box-sizing: border-box;
}
.detailpage>.container>.detailview{
    z-index: 1;
    display: inline-block;
    font-size: 120px;
    font-family: 'Roboto Serif', serif;
    text-shadow: 3px 1px 0px #FFF280, 0 0 0 #000, 3px 1px 0px #FFF280;
    box-shadow: 15px 15px 0 rgba(0,0,0,0.25);
    font-weight: bold;
    background: #FFF280;
    color: rgba(0, 66, 199, 0.896);
    padding: 10px;
}
.detailpage>.container>.refresh a{
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
    color: #99BCFF;
    vertical-align: bottom;
    text-shadow: 3px 3px 0px #000;
}

.detailpage>.container>.leftbox{
    position: absolute;
    border: 1px solid #000;
    top: 55%;
    transform: translateY(-50%);
    left: 7%;
    width: 25%;
    height: 60%;
    box-sizing: border-box;
}
.detailpage>.container>.leftbox>span{
    font-size: 120px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #99BCFF;
}
.detailpage>.container>.leftbox>span:nth-of-type(1){position: absolute; left: 0; top: 0;}
.detailpage>.container>.leftbox>span:nth-of-type(2){position: absolute; right: 0; top: 20%;}
.detailpage>.container>.textbox{
    position: absolute;
    top: 45%;
    color: #fff;
}

.detailpage>.container>.rightbox{
    width: 35%; height: 50%;
    position: absolute;
    right: 250px; top: 30%;
    background: #FFF280;}
.detailpage>.container>.rightbox>.imagebox{
    width: 35%;
    height: 55%;
    position: relative;
    display: inline-block;
    box-shadow: -20px 20px 4px rgba(0,0,0,0.25);}
.detailpage>.container>.rightbox>.imagebox>.image1{z-index: 2; position: absolute;}
.detailpage>.container>.rightbox>.imagebox>.image1>img{width: 600px;}
.detailpage>.container>.rightbox>.imagebox>.image2{z-index: 3; position: absolute;}
.detailpage>.container>.rightbox>.imagebox>.image2>img{width: 400px;}
.detailpage>.container>.rightbox>.imagebox>.image3{z-index: 1; position: absolute}
.detailpage>.container>.rightbox>.imagebox>.image3>img{width: 400px;}



.wiggle-it .char {
    transform-origin: center 50%;
    -webkit-animation: wiggle-char 0.5s step-end infinite both;
            animation: wiggle-char 0.5s step-end infinite both;
    -webkit-animation-delay: calc(-0.02s * var(--char-index) );
            animation-delay: calc(-0.02s * var(--char-index) );
  }
  
  @-webkit-keyframes wiggle-char {
    0%, 50%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(6deg);
    }
    75% {
      transform: rotate(-6deg);
    }
  }
  
  @keyframes wiggle-char {
    0%, 50%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(6deg);
    }
    75% {
      transform: rotate(-6deg);
    }
  }
  .button>span{
    box-sizing: border-box;
    display: inline-block; width: 100%; height: 100%;}
  .button>span>a{
    padding: 20px 0px;
    text-align: center;
    display: block; 
    width: 100%; height: 100%; 
}
.page>.boxes>.leftbox>.button>span{
    padding: 0 !important;
}
#page5>.boxes>.button>span{
    padding: 0;
    width: 167px; height: 100%;
}
#page5>.boxes>.button>span>a{
    display: block;
    width: 100%; height: 100%;
    text-align: left;
    text-indent: 11px;
    padding: 20px 10px;
}
#page5>.boxes>.button{border: none; z-index: 1000;}

.contact a{
    position: relative;
    margin-top: 20px;
    display: inline-block;
    border: 8px double #ffffff;
    color: #ffffff;
    padding: 0px 15px;
    border-radius: 50px;
    background: #99BCFF;
    box-shadow: inset -3px -3px 0px rgba(0,0,0,0.2),inset 2px 1.5px 0px rgba(255,255,255,0.2);
}
.contact a:hover{
    color: #fff;
    background: #0049d8;
    box-shadow: inset -3px -3px 0px rgba(0,0,0,0.2),inset 2px 1.5px 0px rgba(255,255,255,0.2);
    border: 8px double #0049d8;
    text-shadow:  2px 2px 0px rgba(0,0,0,0.2);

}

/* slick */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}